# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln
*.suo
*.user
*.userosscache
*.VC.db
*.VC.opendb

# JetBrains Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log